h1 {
  font-size: var(--title-large);
  text-align: center;
  margin: 1rem 0;
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10vw;
  margin-bottom: 1rem;
}

.controls-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: var(--control-gap);
  row-gap: 10px;
}

@media (max-width: 480px) {
  .controls-wrapper {
    max-width: calc(var(--control-width) * 2 + var(--control-gap));
  }
}

label[for="difficulty-select"] {
  margin-right: 10px;
}

#difficulty-select,
.control-btn {
  font-size: inherit;
  color: inherit;
  background-color: var(--input-color);
  transition:
    transform 0.1s ease,
    opacity 0.1s ease;
  cursor: pointer;
  width: var(--control-width);
  border-color: var(--control-border-color);
}

#difficulty-select {
  padding: 3px 2px;
}

.control-btn {
  padding: var(--control-button-padding);
}

#difficulty-select:hover,
.control-btn:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

#difficulty-select:focus-visible,
.control-btn:focus-visible {
  transform: scale(1.1);
  outline: 2px solid var(--highlight-color);
}

button:disabled {
  background-color: #808080;
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.score-container {
  text-align: right;
  text-wrap: nowrap;
}
