@import "./variables.css";

:root {
  line-height: 1.5;
  font-size: var(--font-size-normal);
  font-weight: 400;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-width: 320px;
  min-height: 100vh;
  margin: 8px;
}

#root {
  max-width: var(--max-display-width);
  margin: 0 auto;
}
