:root {
  /* Default card variables */
  --card-color-start: hsl(60, 1%, 48%);
  --card-color-mid: #e4f3d7;
  --card-color-end: #b2b2b1;

  --card-text-color: var(--card-color-mid);
  --card-font-size: clamp(0.55rem, 2.5vw, 1.4rem);

  --card-border-color: var(--card-color-start);
  --card-border-width: clamp(9px, 2vw, 18px);
  --card-padding: min(4px, 0.5vw);

  --card-image-size: clamp(60px, 20vw, 180px);

  /* Total card width = image width + padding (x2) + border (x2) */
  --card-total-width: calc(
    var(--card-image-size) + var(--card-padding) * 2 +
      var(--card-border-width) * 2
  );

  /* Load Spinner variables */
  --spinner-size: 40px;
  --spinner-border-width: 7px;
  --spinner-border-color: #ecec11;
  --spinner-accent-color: #717149;
  --spinner-animation-duration: 0.75s;
  --spinner-animation-timing: ease;
}
