:root {
  /* Dark Theme */
  --dark-theme-background: #242424;
  --dark-theme-text-color: #ebda3b;
  --dark-theme-input-color: #575555;

  /* Light Theme */
  --light-theme-background: #e0dbb8;
  --light-theme-text-color: #4c4300;
  --light-theme-input-color: #cccc9b;

  /* General Styles*/
  --background-color: var(--dark-theme-background);
  --text-color: var(--dark-theme-text-color);
  --input-color: var(--dark-theme-input-color);

  --max-display-width: clamp(280px, 96vw, 1280px);
  --title-large: clamp(1.2rem, 6vw, 2rem);
  --title-small: clamp(0.5rem, 2.5vw, 1.2rem);
  --font-size-normal: clamp(16px, 2vw, 1.3rem);
  --button-border-color: var(--text-color);

  /* Default card variables */
  --card-color-start: hsl(60, 1%, 48%);
  --card-color-mid: #e4f3d7;
  --card-color-end: #b2b2b1;

  --card-text-color: var(--card-color-mid);
  --card-font-size: var(--title-small);

  --card-border-color: var(--card-color-start);
  --card-border-width: clamp(9px, 2vw, 18px);
  --card-padding: min(4px, 0.5vw);

  --card-image-size: clamp(60px, 20vw, 180px);

  /* Total card width = image width + padding (x2) + border (x2) */
  --card-total-width: calc(
    var(--card-image-size) + var(--card-padding) * 2 +
      var(--card-border-width) * 2
  );

  /* Load Spinner variables */
  --spinner-size: 40px;
  --spinner-border-width: 7px;
  --spinner-border-color: #ecec11;
  --spinner-accent-color: #717149;
  --spinner-animation-duration: 0.75s;
  --spinner-animation-timing: ease;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--light-theme-background);
    --text-color: var(--light-theme-text-color);
    --input-color: var(--light-theme-input-color);
  }
}
